.my-custom-scrollbar {
  position: relative;
  height: 285px;
  overflow: auto;
  overflow-x: hidden;
}
.table-wrapper-scroll-y {
  display: block;
}
.title {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(57, 116, 245);
  color: aliceblue;
  padding-left: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}
