<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Ontogenesis</title>
    <link rel="stylesheet" href="../css/DocDash.css">

</head>

<body>
    <!--NAV BAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ontogenesis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out</a>
                </li>
        </div>
    </nav>
    <!--BODY-->
    <!-- Notes -->
    <form action='/DocPage' method="POST">
        <div class="title">Notes</div>
        <div>
            <div class="input-group mb-2">
                <input type="text" class="form-control mt-3" placeholder="Search Keywords"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary mt-3" type="button">Search</button>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">NOTES</span>
                </div>
                <textarea rows="5" class="form-control" aria-label="With textarea" name="notes"></textarea>
            </div>
        </div>
        <!-- Diagnosis -->
        <div class="title mt-3">Diagnosis</div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <div class="input-group mb-3">
                <input type="text" name="text" id="txt" class="form-control mt-3" placeholder="Enter Text"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary mt-3" id="btn-lst" type="submit">Add</button>
                </div>
            </div>
            <div class="container">
                <ul>
                </ul>
            </div>
        </div>
        <!-- Prescription -->
        <div>
            <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target=".prescriptionmodal">Add
                Presciption</button>

            <div class="modal fade prescriptionmodal" tabindex="-1" role="dialog" aria-labelledby="prescriptionmodal"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content p-3">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="startoftreatment">Start of Treatment</label>
                                <input type="date" name="startoftreatment" class="form-control" id="startoftreatment" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="endoftreatment">End of Treatment</label>
                                <input type="date" name="endoftreatment" class="form-control" id="endoftreatment" />
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="prescription">Example textarea</label>
                            <textarea class="form-control" id="prescription" rows="10" name='prescription'></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary align-self-center">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>

    <script>
        const inputText = document.querySelector('#txt');
        const myButton = document.querySelector('#btn-lst');
        const list = document.querySelector('.container ul');
        let count = 0;
        myButton.addEventListener('click', (e) => {
            if (inputText.value != "") {
                e.preventDefault();
                //creating list items
                const myLi = document.createElement('li');
                myLi.innerHTML = inputText.value + "<input type='hidden' name='diagnosis' value='" + inputText.value + "'/>";
                list.appendChild(myLi);
                //creating span
                const mySpan = document.createElement('span');
                mySpan.innerHTML = 'X';
                myLi.appendChild(mySpan);
            }
            const close = document.querySelectorAll('span');
            for (let i = 0; i < close.length; i++) {
                close[i].addEventListener('click', () => {
                    close[i].parentElement.style.opacity = 0;
                    setTimeout(() => {
                        close[i].parentElement.style.display = "none";
                        close[i].parentElement.remove();
                    }, 500);
                });
            }
            inputText.value = "";
        });

    </script>
    <!-- bootstrap links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    </form>
</body>

</html>